<!-- cool pictures of different cars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
</head>
<body>
    <h1 class="center">CARS</h1>
    <div class="row">
        <div class="col s4"><img src="/images/honda.png" alt="Honda Civic Hatchback" height="300" width="600"></div>
        <div class="col s4"><img src="/images/rangeRover.png" alt="Range Rover Envoque" height="300" width="600"></div>
        <div class="col s4"><img src="/images/tesla.png" alt="Tesla Model S" height="300" width="600"></div>
    </div>
</body>
</html>